/* Estilização da Seção "Quem Somos?" */
#about {
    padding: 40px 20px;
}

#about div {
    padding: 40px 20px;
    background: linear-gradient(145deg, var(--cor06), var(--cor07));
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 4px 8px #00000033;
}

#about h2 {
    font-size: 32px;
    color: var(--cor05);
    margin-bottom: 20px;
}

#about p {
    font-size: 18px;
    line-height: 1.6;
    color: #ffffffc2;
}
